<mat-card class="card mat-elevation-z4">
  <mat-card-title class="title">Projetos pessoais e acadêmico</mat-card-title>
  <mat-card-content>
    <div class="content">
      <h1>ProGamer</h1>
      <p>
        Projeto acadêmico para aprendizagem da materia Digital Business
        Enablement, para nota parcial do primeiro semestre. A importancia desse
        projeto é as habilidades e conhecimento que eu obtive ao decorrer das
        aulas e dos trabalhos que fiz em cima dele.
      </p>

      <p>
        <b>Tecnoligas utilizada:</b> Java, JPA, JSF, PrimeFaces, XHTML, CSS3,
        JAX/RS e JAX/WS.
      </p>
      <div class="botao">
        <a href="https://github.com/RodrigoARDSJ/ProGamer">
          <button mat-flat-button color="accent">Repositorio</button>
        </a>
      </div>

      <h1>BookStore</h1>
      <p>
        Projeto pessoal para aprendizagem de novas tecnologias, e para melhorar
        minhas habilidades de programador. Nesse projeto, eu ententi que é um
        pouco mais dificil aprender algumas coisas sozinho, pois tive problemas
        com algumas coisas como subir um banco de dados no heroku, porque o
        desenvolvedor que deu a aula usou um H2(banco de dados em memoria) e o
        Heroku aceita o H2, e eu estava usando o MySQL. Depois de alguns dias eu
        descobri que podemos usar o PostgreSQL no Heroku para salvar os dados
        fornecido pelo usuario. Além disso, outro problema que eu tive nesse
        projeto foi publicar no GitPage, porque eu estava errando a nomenclatura
        na hora de subir o site. Tirando isso, me deparei com alguns bugs
        que não tive tanto problema em resolver. 
      </p>

      <p><b>Tecnoligas utilizada:</b>Java, Spring Boot e Angular.</p>
      <div class="botao">
        <a href=" https://rodrigoardsj.github.io/bookstore/"
          ><button mat-flat-button color="accent">Site</button></a
        >
      </div>
    </div>
  </mat-card-content>
</mat-card>
