<mat-card class="card mat-elevation-z4">
  <mat-card-title class="title">Quem sou eu?</mat-card-title>
  <mat-card-content class="content">
    Olá! Eu sou o Rodrigo Alexander. Sou estudante de Análise e Desenvolvimento
    de Sistemas na FIAP, onde eu tenho bolsa de 100% e também foi onde eu decidi
    que realmente queria trabalhar como desenvolvedor. Atualmente eu não
    trabalho, e nunca trabalhei porém estou procurando minha primeira
    oportunidade como desenvolvedor ou um funcionario da area de tecnologia. E
    meu objetivo como desenvolvedor é me tornar um grande programador, se não um
    dos melhores sendo conhecido como o Tim Barnes e até mesmo o Bill Gates.
<p></p>
    <p>
      Minha trajetória no mundo da tecnologia começou em 2018, quando fiz um
      curso de programação web no IOS(Instituto da oportunidade Social), que foi
      também por onde eu consegui a bolsa na FIAP. E desde então eu venho buscando conhecimento
      na área de TI. TEnho habilidades e conhecimentos em HTML, CSS, BootsTrap, PrimeFaces, Angular, 
      Java, JPA, JSF, Maven, GIT e estou estudando Spring Boot.
    </p>
    <p>
      Apesar de eu nunca ter trabalhado na aréa, eu tenho alguns projetos
      acadêmico que fiz pela faculdade como o ProGamer (<a
        href="https://github.com/RodrigoARDSJ/ProGamer"
        >ProGamer</a
      >
      ), que utilizei tecnologias como JSF e PrimeFaces, e projetos que fiz para aprender algumas tecnologias como o
      Spring Boot(<a href=" https://rodrigoardsj.github.io/bookstore/"
        >BookStore</a
      >), e como este também.
    </p>
  </mat-card-content>
</mat-card>
